.container
{
    
    min-height: fit-content;
    width: fit-content;
    background-color: #FFA50030 !important;
    padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    top:2rem;
    left: 50%;
    transform: translateX(-50%);
    
    


}
.container>h2
{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}